html{margin:0;padding:0;border:0;}
* {
    font-family: "Microsoft YaHei";
}

.classify {
    color: #999;
    height: 30px;
    line-height: 30px;
    padding-bottom: 10px;
    font-size: 12px;
    margin: auto;
    width: 1190px;
}

.classify a {
    color: #666;
    font-family: "微软雅黑";
    font-size: 12px;
    padding: 0 10px !important;
    vertical-align: middle;
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, img, fieldset, span, legend, button, input, textarea,th, td, div, td,s{margin: 0; padding:0; list-style:none;}

body{font:12px/1.5 Tahoma,Arial,"\5b8b\4f53",sans-serif;}

table{border-collapse:separate;border-spacing:0;}

img{border:none;}

s{text-decoration:none;}

i,em{font-style:normal;}

:focus{outline:0;*blr:expression(this.onFocus=this.blur())}

.pr{position:relative;}

.pa{position:absolute;}

.undis{display:none;}

.clr{clear:both;}

a{color:#333;text-decoration:none;*blr:expression(this.onFocus=this.blur());}

a:hover{text-decoration:underline;color:#145cac !important;}

a:active{color:#F60;}

button{border:none;cursor:pointer;}

h1, h2, h3, h4, h5, h6 {color:#000;font-size:100%;}

h2 {font-weight:normal;color:#000;}

ul,ol{list-style-type:none;}

dl dt{font-weight:normal;}

select{background-color:#fff;border-width:1px;border-style:solid;}

input{background:#fff;}

body{background:#e0e0e0;}

div{display:block;}

/*头部通栏样式*/

#supply_top {height:18px; margin:0 auto;padding-top:7px;position:relative;width:1190px;z-index:99999;}

#supply_top li {float:left;line-height:16px;margin-right: 4px;padding-right:4px;position:relative;}

#supply_top li a {color: #444444;}

#supply_top li.help {margin-right:0;padding-right: 0;}

#supply_top li.bgn {background:none repeat scroll 0 0 rgba(0, 0, 0, 0);}

#supply_top li.top_4 {padding-right:25px;}

.supply_left{float:left;position:relative;width:500px;}

.supply_right{float:right;margin:0;padding: 0;width:425px;}

/*头部通栏样式*/