/*留言*/.proMessage{overflow:hidden;width:580px;background:#fff;border-radius:4px;height:auto;padding-bottom:20px;position:fixed;top:50%;left:50%;margin-left:-290px;margin-top:-290px;z-index:100000001;display:none;}
.proMessage .mTitle{width:550px;height:32px;line-height:32px;background:#19a4ed;color:#fff;padding:0 15px;position:relative;font-size: 14px;}
.in2em{text-indent: 2em;}
.proMessCon{padding:0 45px;font-family:"\5FAE\8F6F\96C5\9ED1";}
.proMessCon div{}
.proMtop{border-bottom:1px solid #e6e6e6;padding:22px 0;line-height:26px;color:#999;font-size: 12px;}
.proMList{padding: 20px 0;}
.proMList ul li{overflow:hidden;font-size: 14px;padding-bottom: 20px;*padding-bottom:15px;line-height: 28px;padding:2px 0;}
.proMList ul li.pBot30{padding-bottom:30px;*padding-bottom:10px;}
.proMList ul li span.mListLeft{float: left;width: 100px;padding-right: 10px;text-align: right;white-space: nowrap;letter-spacing:0.25em;color: #333;}
.proMList ul li span.mListLeft.letter0{letter-spacing:0;}
.proMList ul li span.mListLeft.letter2{letter-spacing: 0.18em;}
.proMList ul li .mListRig{float: left;width: 380px;color: #666;position: relative;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.proMList ul li span.mListLeft em{color:#ea2f40;}
.proMList ul li .mListRig span{padding-left: 20px;margin-right: 18px;cursor: pointer;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/proMico.png) no-repeat 0 -42px;white-space: nowrap;}
.proMList ul li .mListRig span.seleCur{background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/proMico.png) no-repeat 0 -83px;}
.proMList ul li .mListRig textarea{width:350px;border:1px solid #e7e7e7;height: 40px;padding: 10px;line-height:20px;font-size:13px;font-family:"\5FAE\8F6F\96C5\9ED1";}
.proMList ul li .mListRig input{width:360px;padding-left:10px;height: 28px;border: 1px solid #e7e7e7;line-height:28px;}
.proMList ul li .mListRig em.warning{position:absolute;left:8px;top:1px;*top:2px;display:none;*width:220px;height:28px;*height:26px;background: #fff;white-space:nowrap;}
.proMList ul li .mListRig em.warning{width:340px}
.proMList ul li .mListRig em strong{width:14px;height:14px;vertical-align: middle;display: inline-block;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/xunjia-new/l-more.png) no-repeat -60px 0;margin-right:4px;margin-bottom:2px;}
.mBtnBox{height:36px;text-align:center;}
.mBtnBox button{background:#1aa4ed;height:36px;width:150px;text-align:center;border:none;color:#fff;font-size:14px;border-radius: 4px;}
.mTitle .mCloseBtn{display:block;height:30px;width:30px;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/proMico.png) no-repeat 15px 8px;float: right;overflow: hidden;text-indent: 100px;cursor: pointer;position:absolute;right:10px;top:0;}
.mSuccBox{padding: 45px;font-size: 14px;text-align: center;font-family: "Microsoft YaHei";}
.mSuccBox em{display: block;height: 55px;width: 55px;margin: 0 auto;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/proMico.png) no-repeat 0 -134px;margin-bottom: 15px;}
.mSuccBox p.mSuccPrompt{color: #666;line-height: 22px;}
.mSuccBox p.mSuccPrompt span{color: #19a4ed;}
.mSuccBox .mCodeImg{width: 140px;height: 160px;margin: 0 auto;padding: 20px 0;color: #666;}
.mSuccBox .mCodeImg p{color: #666;line-height: 20px;}
.mSuccBox p.codePrompt{color: #333;padding-top: 5px;}
.mSuccBox p.codePrompt span{color: #19a4ed;}
.mSuccBox .mSuccBtnBox{padding-top: 36px;}
.mSuccBtnBox button{width: 148px;height: 38px;border: 1px solid #999;background: #fff;color: #333;font-size: 14px;margin: 0 12px;border-radius: 4px;}
.mSuccBtnBox .moreBtn{color: #fff;border: #19a4ed 1px solid;background: #19a4ed;}
/*可联系买家-陈梦梅*/.dAlertBoxNew{background:#fff;border-radius: 5px;position:absolute;top:30%;z-index: 1000001;}
.dAlertBoxNew.w690{width:690px;left:50%;margin-left:-345px;}
.dAlertBoxNew.w600{width:600px;left:50%;}
.dAlertBoxNew.w560{width:560px;left:50%;margin-left:-280px;}
.dAlertBoxBg{position:fixed;width:100%;height:100%;background:#000;filter:alpha(opacity=60);-moz-opacity:0.6;opacity:0.6;left:0;top:0;z-index:1000000;}
a.closeBtn,div.closeBtn{width: 58px;height: 58px;position:absolute;right: 0px;top: 0px;background:url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/xunjia-new/l-moreNew.png) no-repeat 0 -189px;cursor:pointer;}
a.closeBtn:hover,div.closeBtn:hover{background:url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/xunjia-new/l-moreNew.png) no-repeat -66px -189px;}
.dAlertBoxCon1{padding: 30px 25px 0px;overflow: hidden;}
.dAlertBoxCon1 .dAlertLeft{width: 285px;float:left;padding-top: 10px;overflow:hidden;}
.dAlertBoxCon1 .dAlertLeft ul li{overflow:hidden;padding-bottom: 20px;}
.dAlertBoxCon1 .dAlertLeft ul li em{display:block;float:left;height:40px;width:40px;background:url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) no-repeat;}
.dAlertBoxCon1 .dAlertLeft ul li div.aList{float:left;padding-left:15px;width: 225px;}
.dAlertBoxCon1 .dAlertLeft ul li h3{font-size:14px;color:#333;line-height: 16px;font-weight:normal;padding-bottom: 3px;}
.dAlertBoxCon1 .dAlertLeft ul li p{font-size:12px;color:#666;line-height:20px;}
.dAlertBoxCon1 .dAlertLeft ul li .emImg1{background-position: 0px -38px;}
.dAlertBoxCon1 .dAlertLeft ul li .emImg2{background-position: 0px -88px;}
.dAlertBoxCon1 .dAlertLeft ul li .emImg3{background-position: 0px -138px;}
.dAlertBoxCon1 .dAlertRig{padding-left:30px;float:left;width:315px;}
.dAlertRig h3{font-weight:normal;font-size:24px;text-align:center;padding-bottom:5px;padding-top:5px;}
.dAlertRig ul li{overflow:hidden;height:42px;margin-top:12px;}
.dAlertRig ul li span{display:block;float:left;width:75px;margin-right:10px;font-size:14px;color:#333;line-height:42px;}
.dAlertRig ul li span b{padding-right:10px;color:#e7002e;vertical-align: middle;float: left;margin-top: 3px;font-size: 16px;}
.dAlertRig div.alertIbox{float: left;position: relative;overflow: hidden;}
.dAlertRig .alertIbox input{height: 40px;line-height:40px;border: 1px solid #c5c5c5;width: 218px;padding-left: 10px;border-radius: 4px;color: #999;}
.dAlertRig .alertIbox em{display: block;position: absolute;left: 2px;height: 40px;color: #e93b39;font-size: 14px;top: 1px;line-height: 40px;background: #fff;width: 215px;padding-left: 10px;}
.dAlertRig .alertIbox em strong{width:14px;height:14px;vertical-align: middle;display: inline-block;background:url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/xunjia-new/l-more.png) no-repeat -60px 0;margin-right: 5px;float: left;margin-top: 13px;}
.alertPage{position: absolute;width: 100%;bottom: 10px;text-align: center;}
.alertPage em{display: inline-block;vertical-align: middle;margin: 0 2px;width: 8px;height: 8px;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) 0 -204px no-repeat;}
.alertPage em.apCur{height: 10px;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) 0 -243px no-repeat;width: 10px;}
.alertBtnBox{padding-left: 85px;}
.alertBtnBox a{width:201px;border:none;height:42px;color:#fff;font-size:14px;border-radius:4px;background:url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) 0 -284px no-repeat;display:inline-block;text-align:center;line-height:42px;cursor:pointer;text-decoration:none;}
.alertBtnBox a:hover,.alertBtnBox2 a:hover{text-decoration:none;color:#fff;}
.topPriceBox a,.topPriceBoxGray a{color: #ee2e2c !important;position: absolute;top: -13px;right: 10px;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) 115px 26px no-repeat;padding-right:24px;display: block;height: 40px;}
.topPriceBox,.topPriceBoxGray{position:relative;}
.dSuccBox{overflow:hidden;padding: 10px 0 25px;text-align: center;border-bottom: 1px solid #e6e6e6;}

.dSuccBox dl em{height: 45px;display: inline-block;width: 45px;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) 0 -470px;vertical-align: middle;margin-right: 20px;}
.dSuccBox dl{color:#333;font-size:18px;}
.dSuccBox dd{text-align:center;font-size:12px;color:#cb4560;}
.dSuccBox dt{padding-bottom: 15px;font-size: 18px;}
.dAlertBoxCon1 .freeConBox h3{font-size:22px;text-align:center;line-height:72px;font-weight:normal;}
.dAlertBoxCon1 .freeConBox ul li{overflow:hidden;line-height: 22px;padding-bottom: 12px;}
.dAlertBoxCon1 .freeConBox span{display:block;float:left;text-align:right;font-size: 14px;color:#333;width:197px;padding-right:10px;line-height: 24px;}
.dAlertBoxCon1 .freeConBox .fConRig{float:left;width: 390px;font-size: 14px;color: #333;padding-top: 2px;}
.fConRig label{float:left;margin-right: 15px;padding-bottom: 6px;cursor: pointer;white-space:nowrap;}
.fConRig label input{margin-right: 5px;float: left;margin-top: 4px;height: 14px;width: 14px;background: #fff;border: 1px solid #ddd;}
.freeConBox textarea{padding:6px 10px;width: 268px;height:40px;line-height:20px;border:1px solid #dcdcdc;font-size:14px;font-family:"Microsoft YaHei";}
.alertBtnBox2{overflow:hidden;padding: 30px 0 50px 0;text-align: center;}
.alertBtnBox2 a,.alertBtnBox2 button{width:335px;border:none;height:42px;color:#fff;font-size:14px;border-radius: 4px;background:#cc0033;display:inline-block;text-align:center;line-height:42px;cursor:pointer;text-decoration:none;}
.pTop15{padding-top: 8px;}
.PurchaseBox{height:24px;width:98px;border:1px solid #dcdcdc;float:left;overflow: hidden;position:relative;margin-top: 5px;}
.PurchaseBox em{display:block;position:absolute;height:24px;line-height: 24px;width:24px;background: #f5f5f5;color: #666;font-size: 14px;text-align: center;cursor: pointer;}
.PurchaseBox em.ruduceIco{border-right: 1px solid #dcdcdc;}
.PurchaseBox em.plusIco{border-left: 1px solid #dcdcdc;right: 0;top: 0;text-align: center;}
.PurchaseBox input{width: 98px;height: 24px;background: #fff;text-align: center;color: #999;}
.dAlertBoxCon2{padding: 25px 25px 10px;overflow: hidden;}
.dAlertBoxCon2 h3.h3Tit{font-size:24px;color:#333;line-height: 26px;text-align: center;font-weight: normal;border-bottom: 1px solid #e6e6e6;padding-bottom: 26px;height: 26px;}
.alertBtnBox3,.alertBtnBox4{text-align: center;}
.alertBtnBox3 button{width: 335px;border:none;height:42px;color:#fff;font-size:14px;border-radius: 4px;background: #cc0033;}
.Con2Box ul li{overflow:hidden;padding:15px 0 0 65px;}
.Con2Box ul li span{display:block;float:left;width:95px;margin-right:10px;font-size:14px;color:#333;line-height:42px;}
.Con2Box ul li span b{padding-right:10px;color:#e7002e;vertical-align: middle;float: left;margin-top: 3px;font-size: 16px;}
.Con2Box div.alertIbox{float: left;position: relative;overflow: hidden;}
.Con2Box .alertIbox input{height: 40px;border: 1px solid #c5c5c5;width: 318px;*width:302px;padding-left: 10px;border-radius: 4px;font-size: 14px;color: #999;line-height: 40px;}
.Con2Box .alertIbox em{display: block;position: absolute;left: 2px;height: 38px;*height:38px;color: #e93b39;font-size: 14px;top: 2px;*top:3px;line-height: 38px;*line-height:38px;background: #fff;width: 215px;padding-left: 10px;}
.Con2Box .alertIbox em strong{width:14px;height:14px;vertical-align: middle;display: inline-block;background:url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/xunjia-new/l-more.png) no-repeat -60px 0;margin-right: 5px;float: left;margin-top: 13px;}
.Con2Box{padding:30px 0 50px;}
.dAlertBoxCon2 .freeConBox{padding-top: 30px;}
.dAlertBoxCon2 .freeConBox h3{font-size:22px;text-align:center;line-height:72px;font-weight:normal;}
.dAlertBoxCon2 .freeConBox ul li{line-height: 22px;padding-bottom: 12px;}
.dAlertBoxCon2 .freeConBox span{display:inline-block;float:left;text-align:right;font-size: 14px;color:#333;padding-right:10px;line-height: 30px;width: 165px;}
.dAlertBoxCon2 .freeConBox .fConRig{float:left;width: 360px;font-size: 14px;color: #333;}
.dAlertBoxCon2 .freeConBox .fConRig input.inquiry_form_long{width: 278px;padding: 0 0 0 10px;border: 1px solid #e5e5e5;height: 34px;line-height: 34px;color: #999;font-size: 14px;}
.pRel{position:relative;}
.pRel span{color: #999 !important;position:absolute;top: 0;left: 267px;width: 10px;}
.dAlertBoxCon3{padding: 30px 25px;overflow: hidden;}
.dAlertBoxCon3 h3.h3Tit{font-size:24px;color:#333;line-height: 20px;text-align: center;font-weight: normal;border-bottom: 1px solid #e6e6e6;padding-bottom: 26px;height: 20px;}
.Con3Box .cInfoList{padding: 26px 0;width: 260px;margin: 0 auto;}
.Con3Box .cInfoList li{font-size:18px;color:#333;padding:8px 0;min-height: 24px;line-height:24px;height: auto;overflow: hidden;}
.Con3Box .cInfoList li span{float:left;background:url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) no-repeat;padding-left: 30px;display: block;width: 94px;white-space: nowrap;}
.Con3Box .cInfoList li span.cIco1{background-position: -120px 0px;}
.Con3Box .cInfoList li span.cIco2{background-position: -120px -49px;}
span.cIco2 em,span.cIco1 em{letter-spacing: 0.5em;display: block;width: 73px;margin: 0;float: left;}
.Con3Box .cInfoList li span.cIco3{background-position: -121px -99px;}
.Con3Box .cInfoList li .cInfoRig{float: left;width: 130px;}
.Con3Box .cInfoList li .cInfoRig b{color: #d11120;font-weight: normal;}
.dAlertBoxCon2 .alertBtnBox3 a{width: 335px;border:none;height:42px;color:#fff;font-size:14px;border-radius: 4px;background: #cc0033;margin: 0 auto;display: block;line-height: 42px;cursor: pointer;}
.alertBtnBox3 a:hover{color:#fff;text-decoration:none;}
.atelBox{height: 170px;border-radius:4px;background:#f1f1f1;padding: 15px 0;}
.atelBox li{overflow: hidden;padding: 7px 0;}
.atelBox li span{display: block;width: 120px;padding-right: 10px;text-align: right;font-size: 14px;color: #333;height: 42px;line-height: 42px;float: left;}
.atelBox .rigIbox{float:left;position: relative;}
.atelBox input{background: #fff;height: 42px;border-radius: 4px;width: 320px;padding-left: 10px;float: left;font-size: 14px;line-height: 42px;color: #999;}
.atelBox input.w210{width: 201px;}
.atelBox a{float:left;display:block;width: 110px;margin-left:10px;height:42px;overflow: hidden;border-radius: 4px;}
.alertBtnBox4{padding-left: 120px;overflow: hidden;}
.alertBtnBox4 button{width: 160px;height: 40px;border: 1px solid #cc0033;border-radius: 4px;float: left;margin-left: 10px;background: #cc0033;color: #fff;font-size: 14px;}
.alertBtnBox4 button.btnLeft{background: none;color: #cc0033;}
.atelBox .rigIbox em{display: block;position: absolute;left: 2px;height: 40px;color: #e93b39;font-size: 14px;top: 1px;line-height: 40px;background: #fff;width: 185px;padding-left: 10px;}
.atelBox .rigIbox em strong{width:14px;height:14px;vertical-align: middle;display: inline-block;background:url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/xunjia-new/l-more.png) no-repeat -60px 0;margin-right: 5px;float: left;margin-top: 13px;}
.atelBox dl em{height: 45px;display: block;width: 45px;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) 0 -470px;vertical-align: middle;margin: 0 auto 12px;}
.atelBox dl{color:#333;font-size:18px;padding-top: 15px;}
.atelBox dd{text-align:center;color: #333;line-height: 22px;padding: 6px 30px;font-size: 14px;}
.atelBox dt{padding-bottom: 15px;font-size: 18px;text-align: center;}
.fConRig em{display: block;position: absolute;left: 2px;height: 34px;color: #e93b39;font-size: 14px;top: 1px;line-height: 34px;background: #fff;width: 185px;padding-left: 10px;}
.fConRig em strong{width:14px;height:14px;vertical-align: middle;display: inline-block;background:url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/xunjia-new/l-more.png) no-repeat -60px 0;margin-right: 5px;float: left;margin-top: 10px;}
.fConRig .down_p{width: 88px;height: 34px;border: 1px solid #dcdcdc;float:left;line-height: 34px;text-align:center;font-size:14px;position:relative;color: #999;}
.fConRig .down_p1{background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) 0 -407px;width: 90px;height: 36px;border:none;color: #e7002e;float:left;line-height: 36px;text-align:center;font-size:14px;position:relative;}
.fConRig .down_p-hide{position:absolute;top: -28px;left:0px;height:16px;padding:3px 7px;background: #fff;border: 1px solid #febd77 !important;color: #e7002e;font-size: 14px;line-height:16px;text-align:center;min-width: 82px;display:none;white-space: nowrap;}
.fConRig .down_p-hide s{text-decoration:line-through;color:#999;font-size:12px;padding-right:10px;display: inline-block;}
.fConRig .down_p-hide i.sj{width:13px;height: 5px;display:block;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) 0 -374px #fff;position:absolute;top:22px;left: 37px;}
.fConRig .M-price{float:left;width: 90px;height: 34px;border: 1px solid #dcdcdc;position:relative;}
.fConRig i{position:absolute;right: 8px;top: 6px;font-size:14px;color: #999;z-index: 50;}
.fConRig input.inquiry_form_sh{width:57px;height:30px;/*!*/float:left;padding-left:8px;line-height:32px;margin: 1px;border: 1px solid #fff;}
.dAlertBoxCon2 .freeConBox ul li:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.dAlertBoxCon2 .freeConBox ul li{*+height:1%;}
.freeConBox.paddTop60{padding-top:60px}
/*咨询*/.Consultation{width: 600px;/* background:#fff;*/border-radius:4px;height:460px;position:fixed;top:50%;left:50%;margin-left: -300px;margin-top: -300px;z-index:5000004;font-family:"Microsoft YaHei";}
.Consultation .mTitle{width: 570px;height: 40px;line-height: 40px;background: #ee2e2c;color:#fff;padding:0 15px;position:relative;}
.Consultation .mCloseBtn{display:block;height: 40px;width: 40px;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/proMico.png) no-repeat 20px 14px;float: right;overflow: hidden;text-indent: 100px;cursor: pointer;position:absolute;top:0;right:10px;}
.mTitLeft{float:left;}
.mTitLeft em{float:left;display:block;height:30px;margin:5px 0;width:24px;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/ConsultaIco.png) -3px 0px;}
.mTitLeft span{padding:0 15px;line-height: 16px;height:16px;margin:12px 0;display: block;float: left;font-size: 14px;}
.mTitLeft span.borLeft{white-space: nowrap;text-overflow: ellipsis;overflow: hidden;width: 350px;}
.ConsulCon{overflow:hidden;}
.ConsulLeft{float:left;width: 490px;border-right:1px solid #e6e6e6;height:420px;}
.ConsulLeftTop{height:260px;width:100%;background:#f5f5f5;}
.clTop{height:240px;padding: 10px 0 10px 20px;background: #f5f5f5;overflow: auto;}
.clBoxLeft,.clBoxRig{overflow: hidden;padding:10px 0;}
.clBoxLeft em.clImg{background:url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/ConsultaIco.png) 0 -54px;height:50px;width:50px;float:left;margin-right: 22px;display:block;}
.clBoxLeft .clImgRig{float: left;}
.clBoxLeft .clImgRig p.clTime{color: #999;font-size: 12px;line-height: 28px;}
.clBoxLeft .clImgRig .ConsulList{width: 390px;padding: 10px 12px;line-height: 20px;background: #fff;position: relative;*position:inherit;border-radius: 6px;font-size: 12px;color: #666;}
.clBoxLeft .clImgRig .ConsulList em{position: absolute;height: 25px;width: 12px;display: block;left: -12px;top: 10px;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/ConsultaIco.png) 0 -125px;}
.clBoxRig em.clImg{background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/ConsultaIco.png) -60px -54px;height:50px;width:50px;float: right;margin-left: 22px;display:block;}
.clBoxRig .clImgRig{float: right;}
.clBoxRig .clImgRig p.clTime{color: #999;font-size: 12px;line-height: 28px;text-align: right;}
.clBoxRig .clImgRig .ConsulList{width: 390px;padding: 10px 12px;line-height: 18px;background: #fff;position: relative;*position:inherit;border-radius: 6px;font-size: 12px;color: #666;word-break: break-all;}
.clBoxRig .clImgRig .ConsulList em{position: absolute;height: 15px;width: 12px;display: block;right: -12px;top: 10px;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/ConsultaIco.png) 0 -175px;}
.clBot{padding: 10px 10px 0;overflow: hidden;}
.clBot .clBotText textarea{width:97%;height: 70px;line-height: 22px;padding: 0 10px;font-family: "Microsoft YaHei";border:none;font-size: 14px;resize:none;}
.clBot .clBotText{height: 90px;border-bottom: 1px solid #e6e6e6;}
.clBotText p{text-align:right;font-size:12px;color:#999;padding-right:10px;}
.clBotInput{padding:0 20px;height: 58px;line-height: 58px;}
.clBotInput span{font-size: 14px;color: #666;float: left;padding-right: 5px;}
.clBotInput span em{vertical-align: middle;color: #e43232;font-weight: bold;padding-right: 5px;}
.bInputBox{position:relative;float:left;margin-top:13px;margin-right: 10px;}
.bInputBox input{border: 1px solid #ddd;height:30px;padding:0 10px;width: 118px;border-radius:3px;line-height: 30px;color: #333;}
.bInputBox em.warning{position: absolute;left: 8px;top: 1px;*top:2px;height: 28px;background: #fff;font-size: 12px;display: none;line-height: 30px;}
.bInputBox em.warning{width: 130px;}
.bInputBox em strong{width:14px;height:14px;vertical-align: middle;display: inline-block;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/xunjia-new/l-more.png) no-repeat -60px 0;margin-right:4px;margin-bottom: 3px;}
.clBotInput button{background: #ee2e2c;float: right;height: 34px;width: 90px;margin-top: 12px;border-radius: 4px;color: #fff;font-size: 14px;line-height: 34px;border:none;}
.clBotInput button.cGrayBtn{background:#d5d5d5;}
.ConsulRig{text-align:center;padding:30px 0 0;float: right;width: 239px;}
.ConsulRig dt{height: 187px;margin-bottom: 15px;padding-left: 26px;}
.ConsulRig dd{font-size:14px;line-height:24px;padding: 0 16px;color: #666;}
/* 2017-04-18 即时通讯改版 YLQ*/.ConsulBox{height:420px;}
.clCode{float:left;}
.clCode input{width: 65px;height:30px;line-height:30px;padding:0 10px;background:#fff;border:1px solid #e6e6e6;border-radius:1px;float:left;font-size:14px;color: #999;margin:13px 10px 0 0;}
.clCode .clCodeImg{width:82px;height:32px;margin-top:13px;overflow:hidden;}
.clCode .clCodeImg img{width:82px;height:32px;}
.Consultation h3{text-align:center;font:400 28px/40px "microsoft yahei";color:#333;margin-top:55px;width:100%;}
.clCloseBtn{position:absolute;}
a.clCloseBtn{width: 58px;height: 58px;position:absolute;right: 0px;top: 0px;background:url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/xunjia-new/l-moreNew.png) no-repeat 0 -189px;cursor:pointer;}
a.clCloseBtn:hover{background:url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/xunjia-new/l-moreNew.png) no-repeat -66px -189px;}
/*有效卖家优化*/.ContactInfo{background:#fff;border-radius: 5px;position:fixed;top: 50%;z-index: 50000;margin-top: -300px;}
.ContactInfo.w560{width:560px;left:50%;margin-left:-280px;}
.ContactInfo .cTitle{height:74px;font-size:24px;padding:0 25px;line-height:74px;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) -117px -195px no-repeat;}
.ContactInfo .cInfoListBox{padding: 10px 12px 20px 60px;margin:0 25px;border-top:1px solid #e6e6e6;overflow:hidden;}
.cInfoListBox span{float:left;background:url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) no-repeat;padding-left: 30px;display: block;width: 82px;white-space: nowrap;color: #666;}
.cInfoListBox span.telIco{background-position: -120px 0px;}
.cInfoListBox li span.userIco{background-position: -120px -49px;}
.cInfoListBox span.cIcoNew2 em,.cInfoListBox span.cIcoNew1 em{letter-spacing: 0.5em;display: block;width: 73px;margin: 0;float: left;}
.cInfoListBox li span.cNameIco{background-position: -121px -99px;}
.cInfoListBox ul li{padding: 9px 0;line-height: 22px;overflow: hidden;font-size: 16px;}
.cInfoListBox ul li span.userIco em,.cInfoListBox ul li span.telIco em{width:64px;letter-spacing: 0.5em;display: block;margin: 0;float: left;color: #666;}
.cInfoListBox .cInfoRig{float:left;width: 275px;position: relative;}
.cInfoListBox .cInfoRig b{color:#d11120;font-weight:normal;}
.cInfoListBox span.telIco2{background-position: -119px -154px;}
.cInfoListBox .cInfoRig a{float: right;font-size: 12px;color: #19a4ed;padding-left: 18px;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) 0 -555px;position: absolute;right: -50px;bottom: 0;}
.cInfoListBox span.telIco2 em{width: 64px;letter-spacing: 2em;display: block;margin: 0;float: left;color: #666;}
.cInfoBtn{text-align: center;padding: 5px 0;width: 412px;}
.cInfoBtn button{height: 40px;font-size: 14px;color: #fff;background: #d11120;width: 190px;border-radius: 4px;}
.ContactInfo .cTitle span{color: #d11120;font-size: 20px;}
.ConNewBox ul li{overflow:hidden;padding: 0 0 20px 0;}
.ConNewBox ul li span{display:block;float:left;width: 115px;margin-right: 5px;font-size:14px;color:#333;line-height: 40px;text-align: right;}
.ConNewBox ul li span b{padding-right:10px;color:#e7002e;vertical-align: middle;float: left;margin-top: 3px;font-size: 16px;}
.ConNewBox div.alertIbox{float: left;position: relative;overflow: hidden;}
.ConNewBox .alertIbox input{height: 40px;border: 1px solid #dcdcdc;width: 348px;padding-left: 10px;border-radius: 4px;font-size: 14px;color: #999;line-height: 40px;}
.ConNewBox .alertIbox em{display: block;position: absolute;left: 2px;height: 40px;color: #e93b39;font-size: 12px;top: 1px;line-height: 40px;background: #fff;width: 345px;padding-left: 6px;}
.ConNewBox .alertIbox em strong{width:14px;height:14px;vertical-align: middle;display: inline-block;background:url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/xunjia-new/l-more.png) no-repeat -60px 0;margin-right: 5px;float: left;margin-top: 13px;}
.ConNewBox{padding: 30px 0 20px;margin: 0 25px;border-top: 1px solid #e6e6e6;overflow: hidden;height: 170px;}
.ConNewBox .alertIbox em.w345{width:345px;}
.infoBtnBot button{width: 190px;border:none;height:42px;color:#fff;font-size:14px;border-radius: 4px;background:#d11120;}
.infoBtnBot{text-align:center;}
.ContactInfo .cInfoListBox2{padding: 10px 59px 25px 10px;margin:0 25px;border-top:1px solid #e6e6e6;overflow:hidden;height: auto;overflow: hidden;}
.cInfoListBox2 li{padding: 7px 0 2px;min-height: 42px;}
.cInfoListBox2 li span{display: block;width: 105px;padding-right: 5px;text-align: right;font-size: 14px;color: #333;height: 42px;line-height: 42px;float: left;}
.cInfoListBox2 .rigIbox{float:left;position: relative;width: 298px;}
.cInfoListBox2 input{background: #fff;height: 38px;border-radius: 4px;padding-left: 10px;float: left;font-size: 14px;line-height: 42px;color: #999;width: 339px;border: 1px solid #dcdcdc;}
.cInfoListBox2 input.w210{width: 176px;}
.cInfoListBox2 a{float: right;display:block;position: absolute;top: 0;right: -43px;color: #666;line-height: 38px;}
.IngoBtnBox4{padding: 5px 0 10px 112px;overflow: hidden;width: 298px;}
.IngoBtnBox4 button{width: 130px;height: 40px;border: 1px solid #d11120;border-radius: 4px;float: right;background: #d11120;color: #fff;font-size: 14px;}
.IngoBtnBox4 button.btnLeft{background: none;color: #fff;float: left;border: 1px solid #ccc;background: #ccc;}
.cInfoListBox2 .rigIbox em{display: block;position: absolute;left: 2px;height: 36px;color: #e93b39;font-size: 12px;top: 1px;line-height: 38px;background: #fff;width: 174px;padding-left: 6px;white-space: nowrap;}
.cInfoListBox2 .rigIbox em strong{width:14px;height:14px;vertical-align: middle;display: inline-block;background:url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/xunjia-new/l-more.png) no-repeat -60px 0;margin-right: 5px;float: left;margin-top: 12px;}
.cInfoListBox2 dl em{height: 45px;display: block;width: 45px;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) 0 -470px;vertical-align: middle;margin: 0 auto 12px;}
.cInfoListBox2 dl{color:#333;font-size:18px;padding-top: 15px;}
.cInfoListBox2 dd{text-align:center;color: #333;line-height: 22px;padding: 6px 30px;font-size: 14px;}
.cInfoListBox2 dt{padding-bottom: 15px;font-size: 18px;text-align: center;}
.succBoxNew dl em{height: 45px;display: block;width: 45px;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) 0 -470px;vertical-align: middle;margin: 0 auto 12px;}
.succBoxNew dl{color:#333;font-size:18px;padding-top: 25px;width: 510px;float: left;}
.succBoxNew dd{text-align:center;color: #666;line-height: 18px;padding:0;font-size: 12px;width:430px;margin: 0 auto;}
.succBoxNew dt{padding-bottom: 22px;font-size: 18px;text-align: center;color: #333;}
.succBoxNew{height: 180px;margin: 0 25px;border-top: 1px solid #e6e6e6;padding: 20px 0;}
.cInfoListBox2 li p{line-height: 24px;font-size: 14px;color: #666;padding-top: 10px;text-align: center;width: 389px;margin: 0 auto;padding-bottom: 0;}
.succBoxNew2 dl em{height: 45px;display: block;width: 45px;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) 0 -470px;vertical-align: middle;margin: 0 auto 10px;}
.succBoxNew2 dl{color:#333;font-size:18px;padding-top: 10px;}
.succBoxNew2 dd{text-align:center;color: #666;line-height: 24px;padding: 6px 30px;font-size: 12px;width: 430px;margin: 0 auto;}
.succBoxNew2 dt{padding-bottom: 10px;font-size: 18px;text-align: center;color: #333;}
.succBoxNew2{padding: 30px 0 20px;border-top: 1px solid #e6e6e6;margin: 0 30px;height: 170px;}
.succBoxNew2 dd span{color: #d11120;}
.PromotionBox dd{position:relative;}
.PromotionBox dd #freeInquery{color: #ee2e2c;position: absolute;top: 8px;right: 10px;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) 115px 3px no-repeat;padding-right: 24px;display: block;height:30px;}
.c-red{color:#e93b39;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{font-size:13px;font-family:"\5FAE\8F6F\96C5\9ED1";*font-family:"\5FAE\8F6F\96C5\9ED1";}
input:-moz-placeholder, textarea:-moz-placeholder{font-size:13px;font-family:"\5FAE\8F6F\96C5\9ED1";*font-family:"\5FAE\8F6F\96C5\9ED1";}
input::-moz-placeholder, textarea::-moz-placeholder{font-size:13px;font-family:"\5FAE\8F6F\96C5\9ED1";*font-family:"\5FAE\8F6F\96C5\9ED1";}
input:-ms-input-placeholder, textarea:-ms-input-placeholder{font-size:13px;font-family:"\5FAE\8F6F\96C5\9ED1";*font-family:"\5FAE\8F6F\96C5\9ED1";}
.dAlertBoxCon2 .freeConBox .down_p-hide span{float: none !important;width: auto !important;font-size: 14px;color: #e7002e;display: inline-block;padding-right: 0;line-height: 16px;}
.fConRig .inquiry_form_con_tip{color:#e93b39;font-size:12px;position: absolute;top: 1px;background: #fff;z-index\: 5;z-index: 51;padding-left: 5px !important;line-height: 34px;}
.fConRig .inquiry_form_con_tip strong{width:14px;height:14px;vertical-align: middle;display: inline-block;background:url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/xunjia-new/l-more.png) no-repeat -60px 0;margin-right: 5px;float: left;margin-top: 10px;}
.detail-amount-control, .can-sell{padding-top:4px;position: relative;float: left;line-height:28px;}
.fConRig.pRel span{width:10px}
.detail-amount-control input{border: 1px solid #e5e5e5 !important;border-style:solid;border-width:1px;float:left;height: 26px !important;line-height:22px;padding:0 !important;margin-left:-9px;margin-top: 1px;text-align: center;width: 60px !important;margin:0 auto;position:absolute;left: 0;top: -1px;}
.freeConBox .detail-amount-control{width:120px;}
.cInfoListBox2 img{width: 98px;margin-left: 10px;height: 38px;border: 1px solid #ddd;overflow: hidden;border-radius: 4px;}
.yanzm-img{float: right;}
.clBotText{position:relative;}
p.ProhibitedTxt{position:absolute;color: #e93b39;left: 0.7407rem;bottom: 1px;font-size: 12px;display:none;}
p.ProhibitedTxt strong{width:14px;height:14px;vertical-align: middle;display: inline-block;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/xunjia-new/l-more.png) no-repeat -60px 0;margin-right:4px;margin-bottom: 1px;}
.cInfoListBox2 a:hover{color: #e93b39;}
.lTelPrtompt{padding:30px 0;font-size: 14px;white-space: nowrap;margin-left: -20px;}
.lTelPrtompt span{padding:0;font-size: 14px;background: none;width: auto;line-height: 18px;}
.lTelPrtompt a{text-decoration:none;padding:0 5px;color:#19a4ed;}
.check-num .word1{position:relative;padding-bottom: 10px}
.check-num .word1 .p,.check-num .word3 .p{font-size:14px;width:520px;vertical-align:middle;position:relative;margin-top: 10px;*+height:1%;}
.check-num .word1 .p:after,.check-num .word3 .p:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.word1 p.num_tip_no{padding: 10px 0 10px;}
.word1 p.error_num{background: url("https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/tips.png") no-repeat 17px 0px;padding-left: 75px;height: 52px;font-size: 18px;width: 172px;margin: 0 auto;}
.word1 p.error_num em{color:#f60;display:block;font-size:12px;font-style: normal;font-weight: normal;padding-top: 4px;}
.word1 p.error_num em a{display:block;}
.word1 .tcbx1 p.tcbx1-2{color: #666;padding: 10px 0 30px;text-align:center;width:470px;}
.word1 .tcbx1 p.tcbx1-2 a{padding:0 5px;color: #19a4ed;}
.word-box .word1{padding-top: 10px;}
.cInfoListBox span.telIco3{background-position: -119px -154px;}
.cInfoListBox span.telIco3 em{width: 64px;letter-spacing: 0.5em;display: block;margin: 0;float: left;color: #666;}
.cInfoListBox span.telIco4{background-position: -119px -154px;}
.cInfoListBox span.telIco4 em{width: 64px;display: block;margin: 0;float: left;color: #666;}
#noAnswerInput{padding: 10px 10px 25px 12px;}
.word1{margin: 0 25px;border-top: 1px solid #e6e6e6;padding-top: 10px;}
.Con2BoxPrompt{text-align: left;font-size: 12px;color: #999;line-height: 30px;margin-top: -5px;padding-bottom: 12px;padding-left: 170px;}
.item-control .detail-amount-control{height: 28px;line-height: 28px;width: 130px;}
.detail-amount-control a{position:absolute;top:-1px;border-radius: 2px 0 0 2px;background: #f8f8f8 url("https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/bg.png") no-repeat;height: 26px;line-height: 200px;overflow: hidden;width: 26px;float:none;top: -1px;border:1px solid #e5e5e5;}
.detail-amount-control .anount-container{float:left;height: 26px;width: 100px;/* overflow: hidden;*/}
.detail-amount-control .input{width: 74px;position: relative;margin: 0px 25px;}{width: 70px;float: left;height: 24px;line-height: 24px;margin: 0px;padding: 2px 2px 0px;color: rgb(102, 102, 102);font-size: 12px;border-width: 0px;visibility: visible;}
/*20161110-查看联系方式-wxd*/.check-num .word1{border-top:none;}
.tel2 a.telRigLink{float: right;font-size: 12px;color: #19a4ed;padding-left: 18px;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) 0 -545px;position: absolute;right:-22px;bottom: 0;}
.check-num .word1 .p.tel2{width:auto !important;}
.check-num-box .cInfoListBox2{width: 460px;margin: 0 auto;}
.succCodeImg{float: left;width:130px;height:160px;margin: 0 10px 10px 10px;}
.succCodeImg img{width:130px;height:130px;}
.succCodeImg p{text-align: center;font-size:12px;color:#666;line-height:30px;}
.succBoxNew.validatesucc dl{color:#333;font-size:18px;padding-top: 25px;width: 320px;float: left;}
.succBoxNew.validatesucc dd{font-size: 12px;width:300px;}
/*20161122-询价-wxd*/.fConRigClass{float:left;width: 360px;font-size: 14px;color: #333;}
.fConRigClass span.cgClass{display: block;float: left;margin-right: 20px;color: #999 !important;font-size: 14px;width: 50px !important;text-align: left;padding: 0;}
.fConRigClass span.cgClass em{display: block;width: 14px;height: 14px;margin-right: 8px;vertical-align: middle;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) 0 -611px;float: left;margin-top: 9px;cursor:pointer;}
.fConRigClass span.cgClass em.cgCur{background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) 0 -643px;}
.fConRig input.telInput{height:28px;width: 278px;padding-left:10px;border: 1px solid #dcdcdc;color:#999;}
.fConRig input.codeInput{width: 168px;padding-left:10px;height:28px;border: 1px solid #dcdcdc;float:left;color:#999;}
.fConRig button.codeBtnNew{float: left;text-align:center;line-height: 30px;width: 100px;height: 30px;color: #fff;background: #e7002e;border: none;margin-left: 10px;font-size: 12px;cursor: pointer;text-decoration: none;}
.fConRig button.codeBtnGray{float: left;width: 100px;height: 30px;color: #aaa;font-size: 12px;background: #ddd;border: none;margin-left: 10px;text-align: center;line-height: 30px;}
.codePromptNew{clear:both;color:#999;padding-top: 10px;font-size:12px;}
.hri70{height:70px;}
.xjIBox{position:relative;}
.fConRig.xjIBox em{display: block;position: absolute;left: 2px;height: 28px;color: #e93b39;font-size: 12px;top: 1px;line-height: 28px;background: #fff;width: 97%;padding-left: 5px;white-space: nowrap;z-index: 501;}
.fConRig.xjIBox em strong{width:14px;height:14px;vertical-align: middle;display: inline-block;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/xunjia-new/l-more.png) no-repeat -60px 0px;margin-right: 5px;float: left;margin-top: 7px;}
.dSuccBoxStep3{overflow:hidden;padding: 150px 0;text-align: center;height: 100px;width: 490px;margin: 0 auto;}
.dSuccBoxStep3 dl em{height: 45px;display: inline-block;width: 45px;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) 0 -470px;vertical-align: middle;margin-right: 20px;}
.dSuccBoxStep3 dl{color:#333;font-size:18px;}
.dSuccBoxStep3 dd{text-align:center;font-size:12px;color: #999;}
.dSuccBoxStep3 dt{padding-bottom: 15px;font-size: 18px;}
.dAlertBoxCon2 .freeConBox ul li a.codeLink{font-size:12px;float:left;color: #1174da;line-height: 30px;cursor:pointer;}
.dAlertBoxCon2 .freeConBox span.codeImgNew{height:30px;width:70px;float:left;margin-left:10px;}
.dAlertBoxCon2 .freeConBox span.codeImgNew img{width:70px;height:30px;}
.fConRig input.codeInput.w100{width:100px;}
.dAlertBoxCon2 .freeConBox span b{color:#ff0000;padding-right:5px;}
.anount-container{position:absolute !important;left:25px !important;margin:0 25px 0 0 !important;}
.company_logo img{max-height:108px;max-width:160px}
.check-num .word3 .yanzm{position:relative;width: 450px !important;}
.check-num .word3 .num span{width:60px;white-space: nowrap;display: block;margin: 0 !important;text-align: right;}
.check-num .word3 .num em{padding:0 3px;}
/*20170227-立即留言添加验证码-wxd*/.mTelCon{float:left;width: 225px;}
.mTelCon input{width: 103px !important;}
.mCodeCon{float:left;padding-left: 5px;}
.proMList ul li .mCodeCon .mListRig{width: 186px;}
.proMList ul li .mTelCon .mListRig{width: 120px;}
.mCodeCon input{width: 83px !important;float:left;}
.proMList ul li .mCodeCon span.mListLeft{width:auto;letter-spacing:0;}
.mCodeCon a{display:block;height:30px;margin-left:5px;width:80px;background: #f6f6f6;float:left;}
.proMList ul li span.mListLeft{padding-right:5px !important;}
.proMList ul li .mCodeCon .mListRig em.warning{width:70px !important;}
.proMList ul li .mTelCon .mListRig em.warning{width: 103px;}
.proMList ul li{padding: 8px 0;}
.proMList ul li span.mListLeft em{line-height:30px;vertical-align:middle;}
.proMessage .mListRig em.warning{font-size:12px;}
.proMessCon .mListRig a img{widows:80px;height:30px;}
.wxAlert{position:absolute;left:-105px;font-size:12px;cursor:pointer;text-align:center;color:#4f4f4f;line-height:34px;width:94px;text-align:center;padding-right:4px;background:url(https://style.org.hc360.com/images/detail/mysite/siteconfig/fix-r/wxAlertBg.png);top:20px;}
.dAlertAd{width: 630px;height: 40px;clear: both;margin:0 auto;padding-bottom:20px;}
.dAlertBoxCon2 .freeConBox .fConRig{width:290px !important;}
input#buyToDate,input#buyToDate1{background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) 260px -682px no-repeat;}
.check-num .dAlertBoxCon2 .freeConBox span.codeImgNew{width: 70px !important;}
；
.alertBtnBox2 a{color: #fff !important;}
#corMessageDialog .dAlertBoxCon2 .freeConBox span{width:130px;}
#inquiryMessageDialog .fConRig button.codeBtnNew{background: #cc0033 !important;}
em#graphicCode_Tip1,em#graphicCode_Tip{width: 103px;}
.clCode em.warning{position: absolute;left: 4px;top: 14px;*top:2px;height: 28px;background: #fff;font-size: 12px;display:none;line-height: 30px;width: 77px;color: #ee2e2c;}
.clCode{position:relative;}
.moreList{padding:0 0 5px 0;font-size:14px;text-align:center;}
.moreList a{line-height:20px;color:#19a4ed;text-decoration:none;}
.ConsulRig dt img{width:185px !important;}
#friendlyTip .ConsulRig{text-align:center;padding:30px 0 0;float: none;width: auto;}
#friendlyTip .ConsulRig dt{height: 187px;margin-bottom: 15px;padding: 0;}
#friendlyTip .ConsulRig dd{font-size:14px;line-height:24px;padding: 0 16px;color: #666;}
.fix-right-box *{font-family:"Microsoft YaHei" !important;}
.rigIphone{background:url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/iphoneBgImg.png);height:420px;top:40px;left: 323px;width:207px;z-index:49;position:absolute;transition:left .5s ease 0s;-moz-transition:left .5s ease 0s;-webkit-transition:left .5s ease 0s;-o-transition:left .5s ease 0s;-ms-transition:left .5s ease 0s;}
.ConsultationCon{position:absolute;left:0;top:0;z-index:50;overflow:hidden;width: 600px;height:460px;background:#fff;border-radius: 5px;overflow: hidden;}
.rigIphone.left530{left: 600px;}
.Consultation.syConsul .mTitle,.Consultation.syConsul .clBotInput button{background:#19a4ed;}
.rigCodeBox{width:180px;margin:82px auto 0;}
.rigCodeBox dl dt{height:120px;width:120px;overflow:hidden;margin:0 auto;}
.rigCodeBox dl dt img{max-width:1x;max-height:120px;}
.rigCodeBox dl dd{padding-top:15px;line-height:24px;text-align:center;font-size:12px;color:#333;}
.clTop .clBoxRig{padding-right:20px;}
/*查看联系方式*/.check-num .title{border-bottom:none;}
.cardBox{background:url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/cardBg.png);width:462px;height:119px;margin:0 auto;padding:30px;position:relative;box-shadow: 0 0 15px #ccc;border-radius: 5px;}
.cardBoxList{position:relative;padding-bottom: 10px;font-size:14px;height:36px;width:460px;line-height:40px;vertical-align:middle;position:relative;}
.cardBoxList .pListNew{font-size:14px;height:42px;width:460px;line-height: 42px;vertical-align: middle;position: relative;}
.cardBoxList .pListNew b{width:14px;height:14px;margin:14px 4px 4px 0px;display:inline-block;vertical-align:middle;float:left;background:url(https://style.org.hc360.cn/images/detail/mysite/siteconfig/new_product/xunjia-new/l-more.png) no-repeat;}
.cardBoxList .pListNew em{position:absolute;left:81px;top:0px}
.cardBoxList .pListNew.sate b{background-position:0px -58px}
.cardBoxList .pListNew.name b{background-position:0px -78px}
.cardBoxList .pListNew.tel1 b{background-position:0px -99px}
.cardBoxList .pListNew.tel2 b{background-position:0px -121px}
.cardBoxList .pListNew.tel2 em{font-weight:bold;}
.cardBoxBot{padding:0 30px 25px;}
.cardBoxBot dt{padding-bottom:5px;height:65px;line-height:65px;text-align:center;font-size:14px;color:#333;}
.cardBoxBot dt b{color:#d11120;}
.cardBoxBot dd{overflow:hidden;position:relative;}
.cardBoxBot dd input{float:left;height:40px;width:328px;padding-left:10px;border:1px solid #e5e5e5;border-radius:4px;}
.cardBoxBot dd button{float:right;width:110px;height:42px;color:#fff;font-size:14px;border:none;border-radius:5px;background:#d11120;}
.cardBox a.telRigLinkNew{float: right;font-size: 12px;color: #008bf5;padding-left: 18px;background: url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) 0 -556px;position: absolute;right:20px;top:20px;}
.check-num .sent-me{position:absolute;font-size:14px;left: 120px;top: 5px;cursor:pointer;}
.cardBoxBot em.warning{display:none;position: absolute;left: 2px;height: 36px;color: #e93b39;font-size: 12px;top: 1px;line-height: 38px;background: #fff;width: 174px;padding-left: 6px;white-space: nowrap;}
.cardBoxBot em.warning strong{width:14px;height:14px;vertical-align: middle;display: inline-block;background:url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/xunjia-new/l-more.png) no-repeat -60px 0;margin-right: 5px;float: left;margin-top: 12px;}
.cardBoxBot2{overflow:hidden;padding:0 30px 25px;}
.cardBoxBot2 dt{height:60px;line-height:60px;text-align:left;font-size:14px;color:#333;}
.cardBoxBot2 dt b{color:#d11120;}
.cardBoxBot2 dd .codeImgNew{width:150px;height:150px;margin:0 auto;}
.codeImgNew img{max-height:150px;max-width:150px;}
.contactSucc,.sendTel{position:relative;height:170px;vertical-align:middle;padding:15px 34px;background:#f1f1f1;border-radius:4px;margin-bottom:10px}
.contactSucc .tcbx1{padding:10px 0;}
.contactSucc .tcbx1 .tcbx1-1{width:90px;height:100px;margin:0 auto 10px;font-size:18px}
.contactSucc .tcbx1 .tcbx1-1 span{width:57px;height:58px;display:block;background:url(https://style.org.hc360.cn/images/detail/mysite/siteconfig/new_product/xunjia-new/l-more.png) no-repeat -106px 0;margin-left:9px;margin-bottom:7px;}
.contactSucc .tcbx1 .tcbx1-2{line-height: 24px;text-align: center;color:#999;font-size:12px;}
.dSuccBox dd{text-align:center;font-size:14px;color:#666;}
.check-num .dAlertBoxCon2{padding:25px 0 10px;}
.sendTel .p{font-size:14px;height:36px;width:520px;line-height:40px;vertical-align:middle;position:relative}
.sendTel .num{margin:4px 0 19px 0;width:auto;}
.sendTel .num span{width:60px;white-space: nowrap;display: block;margin: 0 !important;text-align: right;}
.sendTel .num em{padding:0 3px;}
.sendTel .num .text-num{width:320px;height:40px;border-style:none;border:1px solid #e5e5e5;line-height:40px;border-radius:4px;color:#999;padding-left:10px;}
.sendTel .num .text-num2{width:200px;}
.sendTel .num .button{width:110px;height:42px;background:#d11120;color:#fff;text-align:center;line-height:42px;font-size:14px;position:absolute;right:90px;top:0px;border-radius:4px}
.sendTel .num .button a{width:110px;height:42px;display:block}
.sendTel .button a{color:#fff}
.sendTel .button a:hover{text-decoration:none;color:#fff}
.sendTel .button1{position:absolute;bottom:19px;left:98px;width:160px;height:40px;border-style:none;border:1px solid #d11120;line-height:40px;border-radius:4px;text-align:center;cursor: pointer;}
.sendTel .button1 a{width:160px;height:40px;display:block;color:#d11120;font-size:14px;position:relative;line-height:40px;right:0;}
.sendTel .button2{position:absolute;bottom:19px;left:269px;width:162px;height:42px;border-style:none;line-height:42px;border-radius:4px;color:#fff;text-align:center;background: #d11120}
.sendTel .button2 a{width:162px;height:42px;display:block;color: #fff;font-size:14px;position:relative;line-height:40px;right:0;}
.sendTel .p .hide{color:#d11120;font-size:12px;position: absolute;top: 1px;left: 66px;background: #fff;}
.sendTel .p span{display:block;height:26px;float:left;text-align:center}
.sendTel .yanzm .text-num{width:200px}
.sendTel .yanzm .change-more{position: absolute;right:8px;top:0;}
.sendTel .yanzm .yanzm-img{position:absolute;right:55px;top:0;width: 110px;height:40px;border-radius: 4px;border: 1px solid #e5e5e5;line-height:40px;display: inline-block;}
.contactBoxNew .cInfoListBox2{width: 460px;margin: 0 auto;}
.contactBoxNew .cInfoListBox2{position:relative;height:170px;vertical-align:middle;padding:15px 34px;background:#f1f1f1;border-radius:4px;margin-bottom:10px}
.IngoBtnBox4 .button1{width:160px;height:40px;border-style:none;border:1px solid #d11120;line-height:40px;border-radius:4px;text-align:center;cursor: pointer;float:left;}
.IngoBtnBox4 .button1 a{width:160px;height:40px;display:block;color:#d11120;font-size:14px;position:relative;line-height:40px;right:0;}
.IngoBtnBox4 .button2{width:162px;height:42px;border-style:none;line-height:42px;border-radius:4px;color:#fff;text-align:center;background: #d11120;float:left;margin-left:10px;}
.IngoBtnBox4 .button2 a{width:162px;height:42px;display:block;color: #fff;font-size:14px;position:relative;line-height:40px;right:0;}
.contactBoxNew .IngoBtnBox4{width:340px;}
.contactBoxNew .cInfoListBox2 li p{color:#999;}
.sendTel .p .hide strong{font-weight:normal;color:#ee2e2c;margin-left: 10px;text-align:center;line-height:29px;font-size:12px;width:14px;height:14px;vertical-align: middle;display: inline-block;background: url(https://style.org.hc360.cn/images/detail/mysite/siteconfig/new_product/xunjia-new/l-more.png) no-repeat -60px 0;margin-right: 4px;margin-bottom: 2px;}
.syContactBox .IngoBtnBox4 .button1,.syContactBox .sendTel .button1{border:1px solid #008bf5;}
.syContactBox .IngoBtnBox4 .button1 a,.syContactBox .sendTel .button1 a{color:#008bf5;}
.syContactBox .IngoBtnBox4 .button2,.syContactBox .sendTel .button2,.syContactBox .cardBoxBot dd button{background: #008bf5;}
.cardBoxBot dd button.grayBtn{background:#ddd;color:#aaa;}
.fConRig b{display:block;height:30px;width:30px;position:absolute;left:258px;top:0;cursor:pointer;background:url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/img/dAlertIco.png) 2px -681px;}
.syContactBox .cardBox{background:url(https://style.org.hc360.com/images/detail/mysite/siteconfig/new_product/newImg/syCardBg.png);width:462px;height:119px;margin:0 auto;padding:30px;position:relative;}
.cardBoxList .pListNew.tel2 em s{color:#333;font-weight:normal;}
.cardBoxList .pListNew{overflow:hidden;}
.fConRig.xjIBox.hei70 em{width: 100px;}
s{text-decoration:none;}
.fConRig input.telInput.w120{width: 130px;float:left;}
.seleCon2{float:left;position:relative;width: 138px;margin-left: 10px;z-index: 500;}
.seleCon2 .tsCon input.sec-p{color:#999;height:28px;line-height: 28px;width:100%;float:none;display:block;font-size:14px;text-indent: 0.3em;padding-left: 0px;background: none;border: none;}
.seleCon2 .tsCon{font-size:12px;position: relative;padding: 0px 23px 0px 0px;border: 1px solid #dcdcdc;overflow: hidden;z-index: 501;}
.seleCon2 .tsCon:after{clear:both;}
.seleCon2 .tsCon s{position: absolute;right: 0px;top:0px;cursor:pointer;width:22px;height:40px;float:right;display:block;background: url(https://style.org.hc360.com/images/my/images/Distribution/liebiao/select-bg.png) no-repeat 1px -5px;}
.seleCon2 ul.seleList{z-index: 502;border: 1px solid #dcdcdc;position:absolute;top: 29px;background:#fff;left: 0px;max-height: 192px;overflow:auto;width: 136px;}
.seleCon2 ul.seleList li{width: 114px;padding-left:5px;line-height:30px;margin-bottom:0;font-size: 14px;height: 24px;line-height: 24px;padding-bottom: 0 !important;cursor: pointer;}
.seleCon2 ul.seleList li:hover{background:#f1f1f1}
.fConRig.xjIBox em.w120{width:120px;}
.fConRig.xjIBox em.w100{width:100px;left: 154px;}
.fConRig.xjIBox.zIndex5{z-index:502;}
/*--------- 2018-5-14 P4P模块 YLQ -----------------*//* 我要留言弹窗的P4P*/.proMessage{margin-top:-380px;}
.proMList{padding:10px 0 !important;}
.proMList ul li{padding:5px 0 !important;}
.proMList ul li.pBot30{padding-bottom: 20px !important;}
.p4pPop{clear:both;border-top:1px solid #e6e6e6;padding:20px 0 0;margin-top:10px;background:#fff;overflow:hidden;}
.p4pPop ul{padding-left:15px;}
.p4pPop li{width:122px;float:left;margin:0 8px;}
.p4pPop li .imgBox{border:1px solid #e6e6e6;width:120px;height:120px;overflow:hidden;}
.p4pPop li .imgBox a{width:120px;height:120px;display:table-cell;vertical-align: middle;text-align: center;}
.p4pPop li .imgBox img{max-width:120px;max-height:120px;}
.p4pPop li .price{line-height: 20px;overflow: hidden;font-size:12px;color: #333;padding-top:6px;}
.p4pPop li .price span{color:#ee2e2c;font-family:microsoft yahei;font-size:16px;}
.p4pPop li .p4pName{height:36px;line-height:18px;font-size:12px;color:#333;padding-top:6px;display: block;overflow:hidden;}
.p4pPop li .p4pName a{color:#333;text-decoration:none;}
.p4pPop li .p4pName a:hover{color:#ee2e2c;}
/* 在线咨询弹窗里的P4P*/.Consultation{margin-top:-350px;height:690px;}
.ConsultationCon{border-radius:0;}
.p4pTcon{padding:20px 0;margin-top:460px;}
.p4pTcon ul{padding-left:17px;}
.p4pTcon li{margin:0 10px;}
/* 2019-4-26 YLQ*/.toptsg,.xjtsg,.cktsg{clear:both;font-size:12px;color:#666;line-height:30px;padding-bottom:5px;}
.toptsg{padding-left:85px;}
.xjtsg{padding-left:170px;}
.cktsg{padding-left:125px;}
/*留言优化*/.proMessage .freeConBox{padding-top: 0;padding-left: 20px;}
.proMessage .freeConBox h3{font-size:22px;text-align:center;line-height:72px;font-weight:normal;}
.proMessage .freeConBox ul{overflow:hidden;}
.proMessage .freeConBox ul li{line-height: 22px;padding-bottom: 12px;width: 100%;float: left;}
.proMessage .freeConBox span{display:inline-block;float:left;text-align:right;font-size: 14px;color:#333;padding-right:10px;line-height: 30px;width: 165px;}
.proMessage .freeConBox .fConRig{float:left;width: 360px;font-size: 14px;color: #333;}
.proMessage .freeConBox .fConRig input.inquiry_form_long{width: 278px;padding: 0 0 0 10px;border: 1px solid #e5e5e5;height: 34px;line-height: 34px;color: #999;font-size: 14px;}
.proMessage .freeConBox ul li a.codeLink{font-size:12px;float:left;color: #1174da;line-height: 30px;cursor:pointer;}
.proMessage .freeConBox span.codeImgNew{height:30px;width:70px;float:left;margin-left:10px;}
.proMessage .freeConBox span.codeImgNew img{width:70px;height:30px;}
.proMessage .fConRig input.codeInput.w100{width:100px;}
.proMessage .freeConBox span b{color:#ff0000;padding-right:5px;}
.freeConBoxTopPrompt{text-align:center;font-size:14px;color: #333;padding: 25px 0;margin: 0 20px;border-top: 1px solid #e6e6e6;}
.mCodeBox{clear:both;overflow:hidden;height:80px;width:465px;}
.mSuccBox .mCodeImg img{width:80px;height:80px;}
.mSuccCodeRig{float:left;padding-top:16px;text-align: left;padding-left: 20px;}
.mSuccCodeRig h5{font-size:14px;color#666;color: #333;}
.mSuccCodeRig h5 img{margin-top:-1px;}
.proMessage .alertBtnBox2{overflow:hidden;padding: 20px 0;text-align: center;}
.proMessage .alertBtnBox2 a,.proMessage .alertBtnBox2 button{width:335px;border:none;height:42px;color:#fff;font-size:14px;border-radius: 4px;background: #19a4ed;display:inline-block;text-align:center;line-height:42px;cursor:pointer;text-decoration:none;}
.proMessage .fConRig button.codeBtnNew{float: left;text-align:center;line-height: 30px;width: 100px;height: 30px;color: #fff;background: #19a4ed;border: none;margin-left: 10px;font-size: 12px;cursor: pointer;text-decoration: none;}
.proMList ul li span.mListLeft{height:30px;}
.mSuccBox .mCodeBox .mCodeImg{width: 80px;height: 80px;float: left;color: #666;clear: both;padding: 0;}
.check-num .word2 .num span em{color: #ee2e2c;left: -10px;top: 3px;font-weight: bold;}
.check-num .word2 .num span{width:100px;text-align:left;}
.check-num .word2 .codeImgNew{margin: 0 10px;}
.check-num .word2 .codeLink{cursor: pointer;font-size: 12px;color: #19a4ed;}
.check-num .word2 .codeImgNew img{width:100px;height: 42px;}
.check-num .word2 .num.yzm em.warning{width: 110px;}
.check-num .word2 .num .text-num3{width: 115px;float: left;}

.cuohe-con p{font-size:12px;color:#999;}
.cuohe-con p a{color:#19a4ed;}
.cuohe-con p a:hover,.check-num .word2 .codeLink:hover{color:#ee2e2c;}
.bot-btn{overflow:hidden;margin-bottom:20px;}
.bot-btn a{display:block;width:280px;heght:40px;background:#d11120;border-radius:5px;color:#fff;line-height:40px;text-align:center;margin:0 auto;}
.check-num .word1 .cuohe-con{padding:10px 0;}
.check-num .word1 .p b{margin:13px 4px 4px 6px;}
.cg_code_con{clear:both;text-align:center;padding:0 0 15px;}
.cg_code_con img{width:90px;height:90px;}
.cg_code_con p{font-size:14px;line-height:18px;padding-top:5px;}

.qdAlert,.qdAlert2{width:260px;height:260px;position:fixed;bottom:20px;right:50px;background:#fff;box-shadow:0 2px 8px 1px #ddd;z-index:100000;display:none;border-radius:8px;overflow:hidden;}
.qdAlert a.qdAlertClose,.qdAlert2 a.qdAlertClose{position:absolute;top:0;right:0;background:url(http://style.org.hc360.com/images/detail/mysite/siteconfig/qdIco/detailIco.png) -65px 15px no-repeat;width:50px;height:50px;}
.qdAlertTop{background:#fff;padding-top:20px;}
.qdAlert2 .qdAlertTop em{display:block;width:74px;height:93px;margin:13px auto 0;background:url(http://style.org.hc360.com/images/detail/mysite/siteconfig/qdIco/qd_free.png) 0 0;}
.qdAlertTop p{text-align:center;line-height:34px;color:#333;font-size:24px;padding:15px 0 15px;}
.qdAlert .qdAlertBot,.qdAlert2 .qdAlertBot{height:53px;background:#fff;padding-top:0;}
.qdAlertBot a{display:block;width:200px;text-align:center;line-height:40px;height:40px;margin:0 auto;color:#fff;font-size:18px;background:#fd5555;border-radius:5px;}
.qdAlertBot a:hover{text-decoration:none;}
.qdAlert .qdAlertTop em{display:block;width:78px;height:98px;margin:0 auto;background:url(http://style.org.hc360.com/images/detail/mysite/siteconfig/qdIco/24h.png) 0 0;}

