#login {
    width: 100%;
    height: 1100px;
    background: #f8f7f7;
    position: relative;

    p {
        position: absolute;
        right: 350px;
        top: 120px;
        font-size: 28px;
    }

    .loginbox {
        position: absolute;
        left: 0px;
        top: 90px;
        box-sizing: border-box;
        padding: 60px;
        background: #fff;
        border-radius: 10px;
        box-shadow: 2px 2px 3px #cccccc, -2px -2px 3px #cccccc;
        margin: 0px 333px;

        h1 {
            font-size: 39px;
            color: #003399;
        }

        input {
            width: 550px;
            height: 48px;
            border: none;
            border-radius: 0;
            border-bottom: 1px solid #ccc;
            margin-top: 25px;
        }

        #inf {
            height: 30px;
            line-height: 30px;
        }

        .yzm {
            margin-bottom: 10px;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .idf {
                width: 200px;
                height: 40px;
                border: 1px solid #666;
                font-size: 26px;
                margin-right: 10px;
                text-align: center;
            }

            #huanBtn {
                width: 50px;
                height: 30px;
                background: #999999;
                margin: 0;
                border-radius: 5px;
            }
        }

        img {
            margin-top: 35px;
            width: 580px;
            height: 288px;
        }

        #loginbtn {
            background: #003399;
            border-radius: 8px;
            width: 180px;
            height: 50px;
            text-align: center;
            margin-top: 60px;
            margin-left: 200px;

            a {
                color: #fff;
                font-size: 18px;
                line-height: 50px;
            }
        }
    }
}