@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.woff2') format('woff2'),
  url('../font/iconfont.woff') format('woff'),
  url('../font/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('../font/iconfont.svg') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gouwuchekong:before {
  content: "\e600";
}

.icon-kefu:before {
  content: "\e7b5";
}

.icon-wenhao:before {
  content: "\e72d";
}

.icon-you:before {
  content: "\e636";
}

.icon-liwu:before {
  content: "\e611";
}

.icon-fuwu:before {
  content: "\e60c";
}

.icon-weixin-copy:before {
  content: "\e654";
}

.icon-weibo:before {
  content: "\e6b2";
}

.icon-qia:before {
  content: "\e6a7";
}

.icon-xiangxia:before {
  content: "\e684";
}

.icon-dianhua:before {
  content: "\e60f";
}

.icon-fenqifukuan:before {
  content: "\e6c1";
}

.icon-huiyuandenglu:before {
  content: "\e637";
}

.icon-top:before {
  content: "\e65b";
}

.icon-chanpinzhanshi:before {
  content: "\e681";
}

.icon-web-icon-:before {
  content: "\e6e7";
}

.icon-wenhao1:before {
  content: "\e638";
}

.icon-Shapecopy:before {
  content: "\e612";
}

.icon-dayufuhao:before {
  content: "\e62b";
}

.icon-shoucang:before {
  content: "\e613";
}

.icon-weixin:before {
  content: "\e620";
}

.icon-dianhua1:before {
  content: "\e609";
}

.icon-fanhuidingbu-:before {
  content: "\e646";
}

.icon-weixinmendian:before {
  content: "\e667";
}

.icon-zuo:before {
  content: "\e794";
}

.icon-sousuo:before {
  content: "\e695";
}

.icon-zhifubao:before {
  content: "\e68a";
}

.icon-changyongicon-:before {
  content: "\e618";
}

.icon-arrowRight:before {
  content: "\e610";
}

.icon-add-fill:before {
  content: "\e644";
}

