.center-header {
  height: 5.296296rem;
  background-color: #ff4256;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.center-header h3 {
  margin-top: 0.416667rem;
  font-size: 0.314815rem;
  color: #fff;
}
.user-img {
  width: 2.037037rem;
  height: 2.037037rem;
}
.center-main {
  background-color: #f3f3f3;
  padding-bottom: 0.277778rem;
}
.order-part {
  background-color: #fff;
}
.order-title {
  height: 1.324074rem;
  border-bottom: 1px solid #eeeeee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-title h2,
.center-list h2 {
  font-size: 0.324074rem;
  margin-left: 0.277778rem;
  color: #584f60;
}
.order-title span,
.center-list span {
  margin-right: 0.462963rem;
}
.order-list {
  height: 2.157407rem;
  display: flex;
}
.order-list a:hover {
  text-decoration: none;
}
.order-btn {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.order-btn span {
  color: #666666;
  font-size: 0.648148rem;
  margin-bottom: 0.351852rem;
}
.order-btn h2 {
  font-size: 0.25rem;
  color: #444444;
}

.center-list {
  margin-top: 0.277778rem;
}
.center-list li a {
  height: 1.435185rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
}
.center-list a:hover {
  text-decoration: none;
}
.list-left {
  display: flex;
  align-items: center;
}
.list-icon {
  width: 0.648148rem;
  height: 0.648148rem;
  line-height: 0.648148rem;
  margin-right: 0 !important;
  margin-left: 0.407407rem;
}

.content {
  background-color: #f3f3f3;
  height: 100%;
}
.content a {
  display: flex;
  color: #000;
  background-color: #fff;
  border-bottom: 1px solid #f0f0f0;
  height: 1.037037rem;
  font-size: 0.351852rem;
  align-items: center;
  justify-content: space-between;
}
.content a:hover {
  text-decoration: none;
  color: #000;
}
.item-label {
  margin-left: 0.407407rem;
}
.item-right {
  display: flex;
  align-items: center;
  margin-right: 0.277778rem;
}
.item-right img {
  width: 0.796296rem;
  height: 0.796296rem;
  margin-right: 0.138889rem;
  border-radius: 50%;
}
.item-right span {
  font-size: 0.425926rem;
  color: #999999;
  margin-left: 0.046296rem;
}
.content-form {
  background-color: #fff;
  overflow: hidden;
}
.of-hidden {
  overflow: hidden;
}
