#home {
  background: #f7f3f3;
}

#home .sortlist {
  height: 6.944444rem;
  background: #fff;
}

#home .sortlist .notice_bar {
  position: relative;
  height: .351852rem;
}

#home .sortlist .notice_bar .notice_bar_con {
  position: absolute;
  left: .277778rem;
  top: .37037rem;
  width: .462963rem;
  height: .462963rem;
  background-image: url("https://img.yzcdn.cn/public_files/2017/8/10/6af5b7168eed548100d9041f07b7c616.png");
  background-size: .462963rem .416667rem;
  background-repeat: no-repeat;
  white-space: nowrap;
  font-size: .37037rem;
  color: #666666;
  line-height: .351852rem;
  padding-left: .740741rem;
}

#home .sortlist .winter {
  width: 100%;
}

#home .sortlist .winter .adrong {
  display: block;
  width: 100%;
  height: 4.62963rem;
}

#home .sortlist .winter .adpro {
  display: block;
  width: 100%;
  height: 4.62963rem;
}

#home .sortlist .sort {
  height: 5.833333rem;
  position: relative;
}

#home .sortlist .sort li {
  position: absolute;
  top: 1.111111rem;
}

#home .sortlist .sort li .cap_list {
  display: block;
}

#home .cap-white {
  height: .277778rem;
  background: #fff;
}

#home .product_image {
  border: .018519rem solid #ccc;
}

#home .product_image .p_image {
  display: block;
  height: 4.648148rem;
}

#home .slider_list {
  padding: .185185rem;
  height: 1.990741rem;
  overflow: auto;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

#home .slider_list .s_list .slider_img {
  display: block;
  width: 3.759259rem;
  height: 1.959259rem;
}

#home .widths .widths_bg {
  display: block;
  width: 100%;
  height: 2.685185rem;
}

#home .widths .widths_bg2 {
  display: block;
  width: 100%;
  height: 2.685185rem;
}

#home .new_products img {
  display: block;
  width: 100%;
  height: 8.287037rem;
}

#home .hotarea {
  background: #fff;
}

#home .hotarea .title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 1.574074rem;
}

#home .hotarea .title .t_border {
  float: left;
  width: .537037rem;
  height: .703704rem;
  border: .009259rem solid #999999;
  background: #333333;
}

#home .hotarea .title .t_name {
  float: left;
  margin-left: .37037rem;
}

#home .hotarea .title .t_name p {
  color: #999999;
  font-size: .175926rem;
}

#home .hotarea .title .t_name h1 {
  color: #333333;
  font-size: .37037rem;
  font-weight: bold;
}

#home .hotarea .hotpic img {
  display: block;
  height: 6.944444rem;
}

#home .essential_pro {
  background: #fff;
}

#home .essential_pro .essential_img {
  padding: .833333rem 0;
  display: block;
  height: 7.5rem;
}

#home .newlife .newlife_img {
  display: block;
  height: 4.666667rem;
}

#home .pro_card {
  width: 100%;
  height: 5.833333rem;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .pro_card li {
  height: 5.777778rem;
  border: .027778rem solid #eae7e7;
  border-radius: .185185rem;
}

#home .pro_card li .card_image {
  height: 3.287037rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home .pro_card li .card_image img {
  display: block;
  width: 3.12963rem;
  height: 3.268519rem;
  margin-top: .527778rem;
}

#home .pro_card li .card_title {
  width: 2.638889rem;
  font-size: .314815rem;
  color: #333333;
  margin-left: .277778rem;
  line-height: .555556rem;
}

#home .pro_card li .card_price {
  margin-top: .509259rem;
}

#home .pro_card li .card_price .c_price {
  font-size: .287037rem;
  color: #ff3366;
  margin-left: .277778rem;
}

#home .pro_card li .card_price .el-icon-circle-plus {
  display: inline-block;
  width: .555556rem;
  height: .555556rem;
  color: #ff0033;
  font-size: .509259rem;
  margin-left: 1.091481rem;
}

#home .grap-new {
  padding: .138889rem .416667rem 0rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#home .grap-new img {
  display: block;
  height: 9.166667rem;
  width: 9.212963rem;
}

#home .grap-new .grapname_p1 {
  font-size: .351852rem;
  color: #333333;
  line-height: .666667rem;
}

#home .grap-new .grapname_p2 {
  font-size: .314815rem;
  color: #999999;
  line-height: .666667rem;
}

#home .grap-new .grap_price {
  font-size: .314815rem;
  color: #ff0033;
  line-height: .611111rem;
}

#home .grap-new .grap_qiang {
  width: 1.444444rem;
  height: .666667rem;
  font-size: .314815rem;
  background: #ff0033;
  color: #fff;
  text-align: center;
  line-height: .666667rem;
  border-radius: .324074rem;
  margin: .185185rem 0;
}

#home .listbox {
  padding: .231481rem .316667rem;
}

#home .listbox ul .list_pro {
  float: left;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: .138889rem .046296rem;
}

#home .listbox ul .list_pro .list_img {
  width: 4.518519rem;
  height: 4.518519rem;
}

#home .listbox ul .list_pro .list_img img {
  display: block;
  width: 100%;
  height: 100%;
}

#home .listbox ul .list_pro h3 {
  width: 4rem;
  height: 1.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: .37037rem;
  margin-top: .342593rem;
}

#home .listbox ul .list_pro .list_price {
  margin-bottom: .388889rem 0rem;
  display: flex;
  justify-content: space-between;
}

#home .listbox ul .list_pro .list_price span:nth-child(1) {
  font-size: .314815rem;
  color: #ff0033;
  line-height: .611111rem;
  margin-right: .231481rem;
}

#home .listbox ul .list_pro .list_price span:nth-child(2) {
  display: block;
  width: 1.342593rem;
  height: .555556rem;
  font-size: .296296rem;
  background: #ff0033;
  color: #fff;
  text-align: center;
  line-height: .555556rem;
  border-radius: .324074rem;
}
