#sort .toppic .t_img {
  display: block;
  width: 100%;
  height: 5.027778rem;
}

#sort .bottomarea {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

#sort .bottomarea .sidemenu {
  background: #f5f4f4;
  width: 2.222222rem;
  height: 9.259259rem;
}

#sort .bottomarea .sidemenu .active {
  color: #323233;
  font-weight: 500;
  border-color: #ee0a24;
  background-color: #fff;
}

#sort .bottomarea .sidemenu .sidemenu_item {
  display: block;
  width: 2.222222rem;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.545185rem .211111rem .545185rem .374074rem;
  color: #333333;
  font-size: .37037rem;
  line-height: 0.685185rem;
  word-wrap: break-word;
  background-color: #fafafa;
  border-left: 3px solid transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-decoration: none;
}

#sort .bottomarea .sidemenu .sidemenu_item .item_text {
  font-size: .37037rem;
  color: #333333;
}

#sort .bottomarea .rightlist .list_name {
  font-size: .305556rem;
  color: #666666;
  margin: .25rem 0 0 .435185rem;
}

#sort .bottomarea .rightlist .goodsllist ul li {
  width: 6.944444rem;
  height: 2.777778rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: .555556rem 0rem;
}

#sort .bottomarea .rightlist .goodsllist ul li .goods_image img {
  width: 2.777778rem;
  height: 2.777778rem;
  display: block;
  margin-right: .277778rem;
  border-radius: .185185rem;
}

#sort .bottomarea .rightlist .goodsllist ul li .goods_con {
  width: 4.166667rem;
}

#sort .bottomarea .rightlist .goodsllist ul li .goods_con h3 {
  font-size: .361111rem;
  color: #333333;
  line-height: .555556rem;
  width: 3.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

#sort .bottomarea .rightlist .goodsllist ul li .goods_con .con_note {
  font-size: .296296rem;
  color: #999999;
  margin-top: .324074rem;
}

#sort .bottomarea .rightlist .goodsllist ul li .goods_con .con_price {
  margin-top: .509259rem;
}

#sort .bottomarea .rightlist .goodsllist ul li .goods_con .con_price .con_symbol {
  font-size: .25rem;
  color: #cc3333;
}

#sort .bottomarea .rightlist .goodsllist ul li .goods_con .con_price .price {
  font-size: .314815rem;
  color: #cc3333;
}

#sort .bottomarea .rightlist .goodsllist ul li .goods_con .con_price .el-icon-circle-plus-outline {
  font-size: .601852rem;
  color: #cc3333;
  margin-left: 0.977778rem;
}
